<% include partials/header %>
<h3>Landing Page</h3>

<p>Welcome to Yelpcamp</p>

<a href="/campgrounds">View all campgrounds</a>
<br>
<a href="/campgrounds/new">Add new campground</a>

<% include partials/footer %>
